<body class="sb-nav-fixed">
    <!--Layout Sidenav Content-->
    <section id="layoutSidenav_content">
        <!--Main-->
        <main class="content-padding1">
            <!--Container Fluid-->
            <div class="container-fluid">
                <!--Page Content-->
                <div class="page-content">
                    <!--Page Header-->
                    <div class="page-header border-bottom-dark">
                        <h5 class="mb-0">Location</h5>

                    </div>
                    <!--End Page Header-->

                    <div class="blog-post">
                        <form class="mt-2" action="" method="post">
                            <div class="row  loginsrn">

                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Name</label>
                                        <p class="view-data">Hyderabad</p>
                                    </div>

                                </div>
                                <!-- <div class="col-12 col-sm-12 col-md-2 col-lg-1"></div> -->
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Code</label>
                                        <p class="view-data">645645</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Address</label>
                                        <p class="view-data">Hyderabad</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Type</label>
                                        <p class="view-data">City</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Longitude</label>
                                        <p class="view-data">45.20.56</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Latitude</label>
                                        <p class="view-data">56.89.62</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Zip Code</label>
                                        <p class="view-data">562341</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Start Date</label>
                                        <p class="view-data">12-02-2021</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Parent</label>
                                        <p class="view-data">25</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Region Code</label>
                                        <p class="view-data">Code-333</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Region Name</label>
                                        <p class="view-data">Madhapur</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Channel Code</label>
                                        <p class="view-data">code-333</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Channel Name</label>
                                        <p class="view-data">Channel-1</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Market Code</label>
                                        <p class="view-data">456289</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Market Name</label>
                                        <p class="view-data">D-Mart</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Product Name</label>
                                        <p class="view-data">Brush</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Work Day</label>
                                        <p class="view-data">Day</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">End Date</label>
                                        <p class="view-data">12-05-2021</p>
                                    </div>

                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Location Group</label>
                                        <p class="view-data">Group-1</p>
                                    </div>

                                </div>


                            </div>
                            <div class="pull-right">
                                <button type="button" (click)="previousState()" id="cancel-save"
                                    class="btn btn-red btn-md mr-4">
                                    <span><i class="fa fa-arrow-left mr-2"></i>Back</span>
                                </button>
                            </div>
                        </form>
                        <div class="clearfix"></div>

                    </div>
                    <!--End Page Content-->
                </div>
                <!-- End DataTales Start -->
            </div>
            <!--End ontainer Fluid-->
        </main>
        <!--End Main-->
    </section>
    <!--End Layout Sidenav Content-->
</body>