<body class="sb-nav-fixed">



    <!--Layout Sidenav Content-->
    <section id="layoutSidenav_content">
        <!--Main-->
        <main class="content-padding1">
            <!--Container Fluid-->
            <div class="container-fluid">
                <!--Page Content-->
                <div class="page-content">
                    <!--Page Header-->
                    <div class="page-header border-bottom-dark">
                       
                                <h5 class="mb-0">Product Groups</h5>
                          
                    </div>
                    <!--End Page Header-->

                    <div class="blog-post">
                        <form class="mt-2" action="" method="post">
                            <div class="row  loginsrn">

                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Channel Code</label>
                                        <p class="view-data">562315</p>
                                    </div>
                                   
                                </div>
                                <!-- <div class="col-12 col-sm-12 col-md-2 col-lg-1"></div> -->
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Channel Name</label>
                                        <p class="view-data">Retail</p>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Market Code</label>
                                        <p class="view-data">RAT-001</p>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Market Name</label>
                                        <p class="view-data">Yousufguda</p>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Store Assortment</label>
                                        <p class="view-data">All</p>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Is Promoted Together</label>
                                        <p class="view-data">Yes</p>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Category</label>
                                        <p class="view-data">Category-1</p>
                                    </div>
                                   
                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="username" class="mb-2">Product</label>
                                        <p class="view-data">Product-1</p>
                                    </div>
                                   
                                </div>
                               
                            </div>
                            <div class="pull-right">
                                <button type="button" (click)="previousState()" id="cancel-save" class="btn btn-outline-dark"
                                   >
                                    <span><i class="fa fa-arrow-left mr-2"></i>Back</span>
                                </button>
                            </div>
                        </form>
                        <div class="clearfix"></div>

                    </div>
                    <!--End Page Content-->
                </div>
                <!-- End DataTales Start -->
            </div>
            <!--End ontainer Fluid-->
        </main>
        <!--End Main-->
    </section>
    <!--End Layout Sidenav Content-->
</body>