<body class="sb-nav-fixed">
    <!--Layout Sidenav Content-->
    <section id="layoutSidenav_content">
        <!--Main-->
        <main class="content-padding1">
            <!--Container Fluid-->
            <div class="container-fluid">
                <!--Page Content-->
                <div class="page-content">
                    <!--Page Header-->
                    <div class="page-header border-bottom-dark">
                        <!--row-->
                        <div class="d-flex align-items-center justify-content-between">
                           
                                <h5 class="mb-0">Location</h5>
                           
                            <div class="d-flex justify-content-end align-items-center py-1">
                                <input class="form-control mr-3" type="search" placeholder="Search here">
                                <button type="button" class="btn btn-outline-dark mr-2 btn-rel">
                                    <i class="fa fa-filter fa-lg" aria-hidden="true"></i>
                                    <span class="btn-abs">Filter</span>
                                  </button>
                                  <label class="custom-file-upload btn btn-outline-dark mr-2 btn-rel">
                                      <i class="fa fa-arrow-down fa-lg" aria-hidden="true"></i>
                                      <input type="file" name="file" accept=".csv,.xlsx">
                                      <span class="btn-abs">Import</span>
                                  </label>
                                  <button type="button" class="btn btn-outline-dark mr-2 btn-rel">
                                      <i class="fa fa-arrow-up fa-lg" aria-hidden="true"></i>
                                      <span class="btn-abs">Export</span>
                                  </button>
                                  <button type="button" class="btn btn-outline-dark mr-2 btn-rel">
                                    <i class="fa fa-bars fa-lg fa-rotate-90" aria-hidden="true"></i>
                                    <span class="btn-abs btn-abs-2x-long">Column Selection</span>
                                  </button>
                            </div>

                        </div>
                        <!--End row-->
                    </div>
                    <!--End Page Header-->

                    <div class="blog-post">
                        <div class="table-responsive">
                            <table class="table table-bordered mt-2">
                                <thead>
                                    <tr>
                                        <th scope="col">Action</th>
                                        <th scope="col">S.No</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Code</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Longitude</th>
                                        <th scope="col">Latitude</th>
                                        <th scope="col">Zip Code</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Parent</th>
                                        <th scope="col">Region Code</th>
                                        <th scope="col">Region Name</th>
                                        <th scope="col">Channel Code</th>
                                        <th scope="col">Channel Name</th>
                                        <th scope="col">Market Code</th>
                                        <th scope="col">Market Name</th>
                                        <th scope="col">Product Name</th>
                                        <th scope="col">Work Day</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Location Group</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div ngbDropdown class="d-inline-block">
                                                <button type="button" class="btn bg-c" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog"
                                                        aria-hidden="true"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="action-dropdown">
                                                    <button ngbDropdownItem class="btn  btn-xs tableicon bluclr" data-title="View" data-toggle="modal"
                                                    [routerLink]="['/location/location-view']" data-target="#view"> <i class="fa fa-eye color-text-primary mr-1"
                                                            aria-hidden="true"></i><span>View</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td scope="row">1</td>
                                        <td>Hyderabad</td>
                                        <td>Code 11</td>
                                        <td>Secendrabad</td>
                                        <td>market</td>
                                        <td>54</td>
                                        <td>86</td>
                                        <td>123654</td>
                                        <td>02-02-21</td>
                                        <td>23</td>
                                        <td>Code-333</td>
                                        <td>Hyderguda</td>
                                        <td>256565</td>
                                        <td>A-Channel</td>
                                        <td>563241</td>
                                        <td>D-Mart</td>
                                        <td>Product</td>
                                        <td>Day</td>
                                        <td>04-02-21</td>
                                        <td>Group 1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div ngbDropdown class="d-inline-block">
                                                <button type="button" class="btn bg-c" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog"
                                                        aria-hidden="true"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="action-dropdown">
                                                    <button ngbDropdownItem class="btn  btn-xs tableicon bluclr" data-title="View" data-toggle="modal"
                                                    [routerLink]="['/location/location-view']" data-target="#view"> <i class="fa fa-eye color-text-primary mr-1"
                                                            aria-hidden="true"></i><span>View</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td scope="row">2</td>
                                        <td>Hyderabad</td>
                                        <td>Code 11</td>
                                        <td>Secendrabad</td>
                                        <td>market</td>
                                        <td>54</td>
                                        <td>86</td>
                                        <td>123654</td>
                                        <td>02-02-21</td>
                                        <td>23</td>
                                        <td>Code-333</td>
                                        <td>Hyderguda</td>
                                        <td>256565</td>
                                        <td>A-Channel</td>
                                        <td>563241</td>
                                        <td>D-Mart</td>
                                        <td>Product</td>
                                        <td>Day</td>
                                        <td>04-02-21</td>
                                        <td>Group 1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div ngbDropdown class="d-inline-block">
                                                <button type="button" class="btn bg-c" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog"
                                                        aria-hidden="true"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="action-dropdown">
                                                    <button ngbDropdownItem class="btn  btn-xs tableicon bluclr" data-title="View" data-toggle="modal"
                                                    [routerLink]="['/location/location-view']" data-target="#view"> <i class="fa fa-eye color-text-primary mr-1"
                                                            aria-hidden="true"></i><span>View</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td scope="row">3</td>
                                        <td>Hyderabad</td>
                                        <td>Code 11</td>
                                        <td>Secendrabad</td>
                                        <td>market</td>
                                        <td>54</td>
                                        <td>86</td>
                                        <td>123654</td>
                                        <td>02-02-21</td>
                                        <td>23</td>
                                        <td>Code-333</td>
                                        <td>Hyderguda</td>
                                        <td>256565</td>
                                        <td>A-Channel</td>
                                        <td>563241</td>
                                        <td>D-Mart</td>
                                        <td>Product</td>
                                        <td>Day</td>
                                        <td>04-02-21</td>
                                        <td>Group 1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div ngbDropdown class="d-inline-block">
                                                <button type="button" class="btn bg-c" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog"
                                                        aria-hidden="true"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="action-dropdown">
                                                    <button ngbDropdownItem class="btn  btn-xs tableicon bluclr" data-title="View" data-toggle="modal"
                                                    [routerLink]="['/location/location-view']" data-target="#view"> <i class="fa fa-eye color-text-primary mr-1"
                                                            aria-hidden="true"></i><span>View</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td scope="row">4</td>
                                        <td>Hyderabad</td>
                                        <td>Code 11</td>
                                        <td>Secendrabad</td>
                                        <td>market</td>
                                        <td>54</td>
                                        <td>86</td>
                                        <td>123654</td>
                                        <td>02-02-21</td>
                                        <td>23</td>
                                        <td>Code-333</td>
                                        <td>Hyderguda</td>
                                        <td>256565</td>
                                        <td>A-Channel</td>
                                        <td>563241</td>
                                        <td>D-Mart</td>
                                        <td>Product</td>
                                        <td>Day</td>
                                        <td>04-02-21</td>
                                        <td>Group 1</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div ngbDropdown class="d-inline-block">
                                                <button type="button" class="btn bg-c" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-cog"
                                                        aria-hidden="true"></i>
                                                </button>
                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="action-dropdown">
                                                    <button ngbDropdownItem class="btn  btn-xs tableicon bluclr" data-title="View" data-toggle="modal"
                                                    [routerLink]="['/location/location-view']" data-target="#view"> <i class="fa fa-eye color-text-primary mr-1"
                                                            aria-hidden="true"></i><span>View</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td scope="row">5</td>
                                        <td>Hyderabad</td>
                                        <td>Code 11</td>
                                        <td>Secendrabad</td>
                                        <td>market</td>
                                        <td>54</td>
                                        <td>86</td>
                                        <td>123654</td>
                                        <td>02-02-21</td>
                                        <td>23</td>
                                        <td>Code-333</td>
                                        <td>Hyderguda</td>
                                        <td>256565</td>
                                        <td>A-Channel</td>
                                        <td>563241</td>
                                        <td>D-Mart</td>
                                        <td>Product</td>
                                        <td>Day</td>
                                        <td>04-02-21</td>
                                        <td>Group 1</td>
                                    </tr>
    
                                </tbody>
                            </table>
                              <!--grid using mat-->
                       
                              <!--grid using mat-->
                            
                        </div>
                        <!-- <div *ngIf="ageGroups && ageGroups.length > 0" class="mt-3">
                            <div class="d-flex justify-content-end">
                                <ngb-pagination class="d-flex justify-content-end" [collectionSize]="totalItems" [(page)]="ngbPaginationPage"
                                    [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                                    (pageChange)="loadPage($event)"></ngb-pagination>
                            </div>
                        </div> -->
                        <div class="clearfix"></div>




                    </div>
                    <!--End Page Content-->

                </div>
                <!-- End DataTales Start -->

            </div>
            <!--End ontainer Fluid-->
        </main>
        <!--End Main-->

    </section>
    <!--End Layout Sidenav Content-->


</body>

<ng-template #filter let-modal>
    <div class="modal-header py-2">
      <h4 class="modal-title mb-0" id="modal-basic-title">Filter</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
  
      <form>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group mb-2">
              <label for="market" class="mb-2">Order</label>
              <input type="text" class="form-control" placeholder="Order Number">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group mb-2">
              <label for="market" class="mb-2">Order</label>
              <input type="text" class="form-control" placeholder="Order Number">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="form-group mb-2">
              <label for="market" class="mb-2">Order</label>
              <input type="text" class="form-control" placeholder="Order Number">
            </div>
          </div>
  
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Save click')">Apply</button>
  
    </div>
  </ng-template>


