
<div class="sidebar close">
  <div class="logo-details text-center">
   <!-- <img src="../assets/img/sop-fav.png" height="36"> -->
   <i class='bx bx-menu bx-sm toggle-menu-button' (click)="togglemenu()"></i>
  </div>
  <ul class="nav-links sidemenu-overflow">
    <span>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="">
            <i class='bx bx-category-alt'></i>
            <span class="link_name">Dashboard</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="" routerLinkActive="current">
              <i class='bx bx-category-alt mr-2'></i> 
              Dashboard
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="Channel">
            <i class='bx bx-sitemap'></i>
            <span class="link_name">Channel</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="Channel" routerLinkActive="current">
              <i class='bx bx-sitemap mr-2'></i> 
              Channel
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="categories">
            <i class='bx bx-list-ul'></i>
            <span class="link_name">Categories</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="categories" routerLinkActive="current">   
              <i class='bx bx-list-ul mr-2'></i> 
              Categories
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="consis">
            <i class='bx bx-detail' ></i>
            <span class="link_name">Consensus Planner</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="consis" routerLinkActive="current"> 
              <i class='bx bx-detail mr-2'></i>   
              Consensus Planner
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="inventory">
            <i class='bx bx-clipboard' ></i>
            <span class="link_name">Inventory Visibility</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="inventory" routerLinkActive="current">   
              <i class='bx bx-clipboard mr-2'></i> 
              Inventory Visibility
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="open">
            <i class='bx bx-file' ></i>
            <span class="link_name">Open order reports</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="open" routerLinkActive="current">  
              <i class='bx bx-file mr-2'></i>  
              Open Order Reports
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="price-calculator">
            <i class='bx bx-calculator' ></i>
            <span class="link_name">Price Calculator</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="price-calculator" routerLinkActive="current">   
              <i class='bx bx-calculator mr-2'></i> 
              Price Calculator
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="monitor">
            <i class='bx bx-desktop' ></i>
            <span class="link_name">Performance Monitor</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="monitor" routerLinkActive="current">   
              <i class='bx bx-desktop mr-2'></i> 
              Performance Monitor
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="scenario">
            <i class='bx bx-traffic-cone' ></i>
            <span class="link_name">Scenario Manager</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="scenario" routerLinkActive="current">  
              <i class='bx bx-traffic-cone mr-2'></i>  
              Scenario Manager
            </a>
          </li>
        
         
        </ul>
      </li>
      <!-- <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current" routerLink="smart">
            <i class='bx bx-bulb' ></i>
            <span class="link_name">Smart Assist</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="smart" routerLinkActive="current"> 
              <i class='bx bx-bulb mr-2'></i>   
              Smart Assist
            </a>
          </li>
        
         
        </ul>
      </li> -->
      <!-- <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current">
            <i class='bx bx-list-ul' ></i>
            <span class="link_name">product</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            <a type="button" routerLink="product" routerLinkActive="current"> 
              <i class='bx bx-list-ul mr-2'></i>  
              product
            </a>
          </li>
          <li>
            <a type="button" routerLink="group" routerLinkActive="current"> 
              <i class='bx bx-hive mr-2'></i> 
              Product Groups
            </a>
          </li>
        
         
        </ul>
      </li>
      <li>
        <div class="iocn-link" id="handle1">
          <a type="button" routerLinkActive="current">
            <i class='bx bx-map' ></i>
            <span class="link_name">Location</span>
          </a>
          <i class="bx bxs-chevron-down arrow"></i>
        </div>
        <ul class="sub-menu">
          <li>
            
            <a type="button" routerLink="location" routerLinkActive="current"> 
              <i class="bx bx-map mr-2"></i>  
              Location
            </a>
          </li>
          <li>
            
            <a type="button" routerLink="location-group" routerLinkActive="current"> 
              <i class="bx bx-hive mr-2"></i>  
              Location Groups
            </a>
          </li>
        
         
        </ul>
      </li> -->
    </span>
  </ul>
</div>
<section class="home-section">

  <div class="main-nav-top d-flex align-items-center justify-content-between">
     <div class="d-flex align-items-center">
       
         <h3 class="text mb-0 ml-3 appname">SOP</h3>
     </div>
     <div>
      <div ngbDropdown class="d-inline-block ml-2"> 
        <!-- <button class="btn relative notif px-3 mr-1" [routerLink]="['help']">
          <img src="../assets/img/help.svg" height="20" />
        </button> -->
        <button class="btn relative notif px-3" (click)="goToApps()">
          <img src="../assets/img/menudark.svg" height="16" />
        </button>
        <button class="btn relative notif pr-0 pl-3" id="dropdownBasic1" ngbDropdownToggle>
          <i class="bx bx-bell bx-ms vertical-sub notification-bell-animation"></i>
          <span class="badge badge-danger badge-counter absolute position-abs">16</span>
          <ng-template #emptyRecords>
            <span class="badge badge-danger badge-counter absolute position-abs">0</span>
          </ng-template>
          <!-- <span
              class="badge badge-danger badge-counter absolute position-abs"
              *ngIf="!NotReadNotifications">0</span
            > -->
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1"
          class="notifications-width dropdown-list dropdown-menu drp dropdown-menu-right shadows animated--grow-in w-380 py-0">
          <div class="d-flex align-items-center justify-content-between py-2 px-3 bg-f7">
            <h6 class="bx-ms mb-0">Notifications Center</h6>
            <h6 class="font-weight-md notif-in-count mb-0">16</h6>
          </div>
  
          <div class="ovr">
            <button ngbDropdownItem class="dropdown-item item-border py-1 notif-item pl-3">
              <div class="d-flex align-items-center pr-3">
                <div class="mr-3">
                  <div class="icon-circle bg-secondary">
                    <i class="bx bx-money bx-xs text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center justify-content-between w-287">
                    <p class="font-weight-md notification-label over-text mb-0">
                      Account Reports
                    </p>
                    <p class="small mb-0">
                      <!-- {{ notification.createdDate | date: "mediumDate" }} -->
                      02-06-2022
                    </p>
                  </div>
                  <p class="notif-des over-text1 mb-0">
                    Preparing accounting reports allows you to track your financial history, project future.
                  </p>
                </div>
              </div>
            </button>
          </div>
          <div class="ovr">
            <button ngbDropdownItem class="dropdown-item item-border py-1 notif-item pl-3">
              <div class="d-flex align-items-center pr-3">
                <div class="mr-3">
                  <div class="icon-circle bg-secondary">
                    <i class="bx bx-user  bx-xs text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center justify-content-between w-287">
                    <p class="font-weight-md notification-label over-text mb-0">
                      Customer Management
                    </p>
                    <p class="small mb-0">
                      <!-- {{ notification.createdDate | date: "mediumDate" }} -->
                      12-07-2022
                    </p>
                  </div>
                  <p class="notif-des over-text1 mb-0">
                    A strategic customer management strategy can build lasting customer relationships and grow your
                    business.
                  </p>
                </div>
              </div>
            </button>
          </div>
          <div class="ovr">
            <button ngbDropdownItem class="dropdown-item item-border py-1 notif-item pl-3">
              <div class="d-flex align-items-center pr-3">
                <div class="mr-3">
                  <div class="icon-circle bg-secondary">
                    <i class="bx bx-money  bx-xs text-white"></i>
                  </div>
                </div>
                <div>
                  <div class="d-flex align-items-center justify-content-between w-287">
                    <p class="font-weight-md notification-label over-text mb-0">
                      Commission Management
                    </p>
                    <p class="small mb-0">
                      <!-- {{ notification.createdDate | date: "mediumDate" }} -->
                      04-07-2022
                    </p>
                  </div>
                  <p class="notif-des over-text1 mb-0">
                    Enabling the sales organization to quickly and accurately ensure that sales reps are properly
                    compensated for their work.
                  </p>
                </div>
              </div>
            </button>
          </div>
          <button ngbDropdownItem class="d-flex align-items-center justify-content-center all-notif bg-f7"
            routerLink="/notification" routerLinkActive="current">
            <h6 class="font-md py-2">View all notifications</h6>
          </button>
        </div>
      </div>
  
      <div ngbDropdown class="d-inline-block mr-3">
        <button class="btn d-flex align-items-center" id="dropdownBasic1" ngbDropdownToggle>
          <span class="mr-2 d-none d-lg-inline text-gray-600 ">Administrator</span>
          <img class="img-profile rounded-circle float-right" src="assets/img/profile-img.png" />
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="py-2 pl-3">
          <button
            ngbDropdownItem
            routerLink="/Profile/user"
            routerLinkActive="current"  
          >
            <i class="bx bx-user mr-2 text-gray-400"></i>
            My Profile
          </button>
          <button
            ngbDropdownItem
            routerLink="/Profile/about"
            routerLinkActive="current"  
          >
            <i class="bx bx-user mr-2 text-gray-400"></i>
           About
          </button>
          <button
            ngbDropdownItem
            routerLink="/Profile/support"
            routerLinkActive="current"  
          >
            <i class="bx bx-user mr-2 text-gray-400"></i>
            Support
          </button>
          <button
            ngbDropdownItem
            routerLink="/Profile/privacy-policy"
            routerLinkActive="current"  
          >
            <i class="bx bx-user mr-2 text-gray-400"></i>
         Privacy Policy
          </button>
          <button
            ngbDropdownItem
            routerLink="/user-management"
            routerLinkActive="current"
          >
            <i class="bx bx-user mr-2 text-gray-400"></i>
            User Management
          </button>
          <button ngbDropdownItem routerLink="/login" routerLinkActive="current"   (click)="logout()">
            <i class="bx bx-log-out-circle mr-2 text-gray-400"></i>
            Logout
          </button>
        </div>
      </div>
     </div>
  </div>
  <div class="home-content">
    
   
    <router-outlet></router-outlet>
  </div>
</section>

<!-- <router-outlet></router-outlet> -->