<div class="inv-upper-sec d-flex align-items-center justify-content-between">
    <div class="selection-sec d-flex align-items-center justify-content-between w-85">
        <div class="left d-flex align-items-center">
           <div class="each-cell">
               <p>Class</p>
           </div>
           <div class="each-cell">
            <select class="h-25" name="Channel">
                <option value="all">All</option>
                <option value="1">B</option>
                <option value="2">C</option>
            </select>
           </div>
           <div class="each-cell">
            <p>Currency</p>
        </div>
        <div class="each-cell">
            <select class="h-25" name="Channel">
                <option value="all">USD</option>
                <option value="1">INR</option>
                <option value="2">POUND</option>
            </select>
        </div>
        <div class="each-cell">
            <p>Units</p>
        </div>
        <div class="each-cell">
            <select class="h-25" name="Channel">
                <option value="all">Pallets</option>
                <option value="1">INR</option>
                <option value="2">POUND</option>
            </select>
        </div>
        </div>
        <div class="right d-flex align-items-center">
            <div class="each-cell">
               <i class="fa fa-pencil" aria-hidden="true"></i>
            </div>
            <div class="each-cell">
               <i class="fa fa-gear" aria-hidden="true"></i>
             </div>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" id="save-entity" class="btn btn-md bg-green mr-4">
            <span>
                <i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>Save</span>
        </button>
        <button type="button" id="cancel-save" class="btn btn-md bg-red">
            <span>
                <i class="fa fa-times mr-2" aria-hidden="true"></i>Clear</span>
        </button>
      
    </div>
</div>

<div class="row loginsrn mt-3">
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Channel</label>
             <p class="view-data form-control">All</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Category</label>
             <p class="view-data form-control">All</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Brand</label>
             <p class="view-data form-control">All</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Size</label>
             <p class="view-data form-control">All</p>
        </div>
    </div>
    
</div>
<div class="row loginsrn">
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Location</label>
             <p class="view-data form-control">All</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Class</label>
             <p class="view-data form-control">A</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Currency</label>
             <p class="view-data form-control">USD</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <div class="form-group mb-2 d-flex align-items-center">
            <label class="mb-2 w-50">Units</label>
             <p class="view-data form-control">Pallets</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-4">
        <p class="mb-0">110.9506</p>
    </div>
</div>
<div class="inv-body-sec">
    <p class="mb-0 mt-2"><b>Plant/Supplier</b></p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Capacity Projections</th>
                    <th scope="col" colspan="12" class="text-center">FY-2022</th>
                    <th scope="col" colspan="12" class="text-center">FY-2023</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Jan</th>
                    <th scope="col">Feb</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Apr</th>
                    <th scope="col">May</th>
                    <th scope="col">Jun</th>
                    <th scope="col">Jul</th>
                    <th scope="col">Aug</th>
                    <th scope="col">Sep</th>
                    <th scope="col">Oct</th>
                    <th scope="col">Nov</th>
                    <th scope="col">Dec</th>
                    <th scope="col">Jan</th>
                    <th scope="col">Feb</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Apr</th>
                    <th scope="col">May</th>
                    <th scope="col">Jun</th>
                    <th scope="col">Jul</th>
                    <th scope="col">Aug</th>
                    <th scope="col">Sep</th>
                    <th scope="col">Oct</th>
                    <th scope="col">Nov</th>
                    <th scope="col">Dec</th>
                </tr>
            </thead>
            <tbody>
              
              
                <tr>
                    <td>Demand</td>
                    <td class="price-cell-bg">58552</td>
                    <td class="price-cell-bg">59307</td>
                    <td class="price-cell-bg">62707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Work Days</td>
                    <td class="price-cell-bg">24</td>
                    <td class="price-cell-bg">22</td>
                    <td class="price-cell-bg">23</td>
                    <td>24</td>
                    <td>21</td>
                    <td>25</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                    <td>20</td>
                    <td>23</td>
                    <td>24</td>
                    <td>21</td>
                    <td>23</td>
                    <td>25</td>
                    <td>21</td>
                    <td>20</td>
                    <td>22</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>28</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>Working Hrs/Day</td>
                    <td class="price-cell-bg">23</td>
                    <td class="price-cell-bg">15</td>
                    <td class="price-cell-bg">16</td>
                    <td>20</td>
                    <td>11</td>
                    <td>15</td>
                    <td>24</td>
                    <td>24</td>
                    <td>14</td>
                    <td>19</td>
                    <td>16</td>
                    <td>24</td>
                    <td>21</td>
                    <td>20</td>
                    <td>21</td>
                    <td>16</td>
                    <td>20</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>22</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Capacity Required</td>
                    <td class="price-cell-bg">58552</td>
                    <td class="price-cell-bg">59307</td>
                    <td class="price-cell-bg">62707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Capacity Available</td>
                    <td class="price-cell-bg">58552</td>
                    <td class="price-cell-bg">59307</td>
                    <td class="price-cell-bg">62707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Capacity Gap</td>
                    <td class="price-cell-bg">5552</td>
                    <td class="price-cell-bg">5307</td>
                    <td class="price-cell-bg">2707</td>
                    <td>6336</td>
                    <td>5457</td>
                    <td>2307</td>
                    <td>-1854</td>
                    <td>5754</td>
                    <td>7264</td>
                    <td>2547</td>
                    <td>7214</td>
                    <td>5701</td>
                    <td>6074</td>
                    <td>5421</td>
                    <td>-3854</td>
                    <td>1574</td>
                    <td>5641</td>
                    <td>7456</td>
                    <td>1734</td>
                    <td>5865</td>
                    <td>7421</td>
                    <td>6285</td>
                    <td>2345</td>
                    <td>3541</td>
                </tr>
                <tr>
                    <td>Capacity Emulated</td>
                    <td class="price-cell-bg">5552</td>
                    <td class="price-cell-bg">333</td>
                    <td class="price-cell-bg">2707</td>
                    <td>6336</td>
                    <td>5457</td>
                    <td>2307</td>
                    <td>-1854</td>
                    <td>5754</td>
                    <td>7264</td>
                    <td>2547</td>
                    <td>7214</td>
                    <td>5701</td>
                    <td>6074</td>
                    <td>5421</td>
                    <td>-3854</td>
                    <td>1574</td>
                    <td>5641</td>
                    <td>7456</td>
                    <td>1734</td>
                    <td>5865</td>
                    <td>7421</td>
                    <td>6285</td>
                    <td>2345</td>
                    <td>3541</td>
                </tr>
                <tr>
                    <td>Workers Required</td>
                    <td class="price-cell-bg">123</td>
                    <td class="price-cell-bg">115</td>
                    <td class="price-cell-bg">163</td>
                    <td>120</td>
                    <td>191</td>
                    <td>152</td>
                    <td>124</td>
                    <td>241</td>
                    <td>184</td>
                    <td>194</td>
                    <td>164</td>
                    <td>124</td>
                    <td>121</td>
                    <td>120</td>
                    <td>241</td>
                    <td>169</td>
                    <td>120</td>
                    <td>122</td>
                    <td>123</td>
                    <td>274</td>
                    <td>125</td>
                    <td>121</td>
                    <td>222</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Workers Available</td>
                    <td class="price-cell-bg">121</td>
                    <td class="price-cell-bg">105</td>
                    <td class="price-cell-bg">153</td>
                    <td>110</td>
                    <td>181</td>
                    <td>142</td>
                    <td>104</td>
                    <td>201</td>
                    <td>174</td>
                    <td>190</td>
                    <td>144</td>
                    <td>114</td>
                    <td>119</td>
                    <td>105</td>
                    <td>198</td>
                    <td>147</td>
                    <td>101</td>
                    <td>100</td>
                    <td>102</td>
                    <td>147</td>
                    <td>120</td>
                    <td>111</td>
                    <td>172</td>
                    <td>190</td>
                </tr>
                <tr>
                    <td>Workers Gap</td>
                    <td class="price-cell-bg">5</td>
                    <td class="price-cell-bg">10</td>
                    <td class="price-cell-bg">7</td>
                    <td>30</td>
                    <td>21</td>
                    <td>25</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                    <td>40</td>
                    <td>23</td>
                    <td>24</td>
                    <td>12</td>
                    <td>23</td>
                    <td>12</td>
                    <td>7</td>
                    <td>20</td>
                    <td>22</td>
                    <td>14</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>13</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Space Required</td>
                    <td class="price-cell-bg">205</td>
                    <td class="price-cell-bg">210</td>
                    <td class="price-cell-bg">207</td>
                    <td>230</td>
                    <td>221</td>
                    <td>225</td>
                    <td>224</td>
                    <td>244</td>
                    <td>224</td>
                    <td>240</td>
                    <td>213</td>
                    <td>243</td>
                    <td>212</td>
                    <td>213</td>
                    <td>212</td>
                    <td>209</td>
                    <td>207</td>
                    <td>224</td>
                    <td>214</td>
                    <td>244</td>
                    <td>256</td>
                    <td>217</td>
                    <td>213</td>
                    <td>210</td>
                </tr>
                <tr>
                    <td>Space Available</td>
                    <td class="price-cell-bg">215</td>
                    <td class="price-cell-bg">205</td>
                    <td class="price-cell-bg">217</td>
                    <td>240</td>
                    <td>231</td>
                    <td>215</td>
                    <td>274</td>
                    <td>244</td>
                    <td>234</td>
                    <td>260</td>
                    <td>243</td>
                    <td>223</td>
                    <td>202</td>
                    <td>233</td>
                    <td>222</td>
                    <td>219</td>
                    <td>217</td>
                    <td>204</td>
                    <td>234</td>
                    <td>214</td>
                    <td>236</td>
                    <td>207</td>
                    <td>203</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Space Gap</td>
                    <td class="price-cell-bg">8</td>
                    <td class="price-cell-bg">-5</td>
                    <td class="price-cell-bg">7</td>
                    <td>10</td>
                    <td>21</td>
                    <td>15</td>
                    <td>24</td>
                    <td>14</td>
                    <td>-17</td>
                    <td>20</td>
                    <td>23</td>
                    <td>22</td>
                    <td>20</td>
                    <td>-3</td>
                    <td>-2</td>
                    <td>15</td>
                    <td>26</td>
                    <td>13</td>
                    <td>15</td>
                    <td>21</td>
                    <td>20</td>
                    <td>27</td>
                    <td>23</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Truck Loads - Inbound</td>
                    <td class="price-cell-bg">28</td>
                    <td class="price-cell-bg">25</td>
                    <td class="price-cell-bg">27</td>
                    <td>20</td>
                    <td>24</td>
                    <td>25</td>
                    <td>29</td>
                    <td>24</td>
                    <td>27</td>
                    <td>28</td>
                    <td>23</td>
                    <td>25</td>
                    <td>24</td>
                    <td>22</td>
                    <td>27</td>
                    <td>22</td>
                    <td>26</td>
                    <td>23</td>
                    <td>22</td>
                    <td>21</td>
                    <td>21</td>
                    <td>28</td>
                    <td>24</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>Truck Loads - Outbound</td>
                    <td class="price-cell-bg">21</td>
                    <td class="price-cell-bg">22</td>
                    <td class="price-cell-bg">24</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>29</td>
                    <td>27</td>
                    <td>28</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>23</td>
                    <td>21</td>
                    <td>20</td>
                    <td>25</td>
                    <td>24</td>
                    <td>21</td>
                    <td>24</td>
                    <td>26</td>
                    <td>27</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="mb-0 mt-3"><b>Warehouse</b></p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Capacity Projections</th>
                    <th scope="col" colspan="12" class="text-center">FY-2022</th>
                    <th scope="col" colspan="12" class="text-center">FY-2023</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Jan</th>
                    <th scope="col">Feb</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Apr</th>
                    <th scope="col">May</th>
                    <th scope="col">Jun</th>
                    <th scope="col">Jul</th>
                    <th scope="col">Aug</th>
                    <th scope="col">Sep</th>
                    <th scope="col">Oct</th>
                    <th scope="col">Nov</th>
                    <th scope="col">Dec</th>
                    <th scope="col">Jan</th>
                    <th scope="col">Feb</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Apr</th>
                    <th scope="col">May</th>
                    <th scope="col">Jun</th>
                    <th scope="col">Jul</th>
                    <th scope="col">Aug</th>
                    <th scope="col">Sep</th>
                    <th scope="col">Oct</th>
                    <th scope="col">Nov</th>
                    <th scope="col">Dec</th>
                </tr>
            </thead>
            <tbody>
              
              
                <tr>
                    <td>Demand</td>
                    <td class="price-cell-bg">54552</td>
                    <td class="price-cell-bg">53307</td>
                    <td class="price-cell-bg">52707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Work Days</td>
                    <td class="price-cell-bg">24</td>
                    <td class="price-cell-bg">22</td>
                    <td class="price-cell-bg">23</td>
                    <td>24</td>
                    <td>21</td>
                    <td>25</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                    <td>20</td>
                    <td>23</td>
                    <td>24</td>
                    <td>21</td>
                    <td>23</td>
                    <td>25</td>
                    <td>21</td>
                    <td>20</td>
                    <td>22</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>28</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>Working Hrs/Day</td>
                    <td class="price-cell-bg">23</td>
                    <td class="price-cell-bg">15</td>
                    <td class="price-cell-bg">16</td>
                    <td>20</td>
                    <td>11</td>
                    <td>15</td>
                    <td>24</td>
                    <td>24</td>
                    <td>14</td>
                    <td>19</td>
                    <td>16</td>
                    <td>24</td>
                    <td>21</td>
                    <td>20</td>
                    <td>21</td>
                    <td>16</td>
                    <td>20</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>22</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Capacity Required</td>
                    <td class="price-cell-bg">58552</td>
                    <td class="price-cell-bg">59307</td>
                    <td class="price-cell-bg">62707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Capacity Available</td>
                    <td class="price-cell-bg">58552</td>
                    <td class="price-cell-bg">59307</td>
                    <td class="price-cell-bg">62707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Capacity Gap</td>
                    <td class="price-cell-bg">5552</td>
                    <td class="price-cell-bg">5307</td>
                    <td class="price-cell-bg">2707</td>
                    <td>6336</td>
                    <td>5457</td>
                    <td>2307</td>
                    <td>-1854</td>
                    <td>5754</td>
                    <td>7264</td>
                    <td>2547</td>
                    <td>7214</td>
                    <td>5701</td>
                    <td>6074</td>
                    <td>5421</td>
                    <td>-3854</td>
                    <td>1574</td>
                    <td>5641</td>
                    <td>7456</td>
                    <td>1734</td>
                    <td>5865</td>
                    <td>7421</td>
                    <td>6285</td>
                    <td>2345</td>
                    <td>3541</td>
                </tr>
                <tr>
                    <td>Capacity Emulated</td>
                    <td class="price-cell-bg">5552</td>
                    <td class="price-cell-bg">333</td>
                    <td class="price-cell-bg">2707</td>
                    <td>6336</td>
                    <td>5457</td>
                    <td>2307</td>
                    <td>-1854</td>
                    <td>5754</td>
                    <td>7264</td>
                    <td>2547</td>
                    <td>7214</td>
                    <td>5701</td>
                    <td>6074</td>
                    <td>5421</td>
                    <td>-3854</td>
                    <td>1574</td>
                    <td>5641</td>
                    <td>7456</td>
                    <td>1734</td>
                    <td>5865</td>
                    <td>7421</td>
                    <td>6285</td>
                    <td>2345</td>
                    <td>3541</td>
                </tr>
                <tr>
                    <td>Workers Required</td>
                    <td class="price-cell-bg">123</td>
                    <td class="price-cell-bg">115</td>
                    <td class="price-cell-bg">163</td>
                    <td>120</td>
                    <td>191</td>
                    <td>152</td>
                    <td>124</td>
                    <td>241</td>
                    <td>184</td>
                    <td>194</td>
                    <td>164</td>
                    <td>124</td>
                    <td>121</td>
                    <td>120</td>
                    <td>241</td>
                    <td>169</td>
                    <td>120</td>
                    <td>122</td>
                    <td>123</td>
                    <td>274</td>
                    <td>125</td>
                    <td>121</td>
                    <td>222</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Workers Available</td>
                    <td class="price-cell-bg">121</td>
                    <td class="price-cell-bg">105</td>
                    <td class="price-cell-bg">153</td>
                    <td>110</td>
                    <td>181</td>
                    <td>142</td>
                    <td>104</td>
                    <td>201</td>
                    <td>174</td>
                    <td>190</td>
                    <td>144</td>
                    <td>114</td>
                    <td>119</td>
                    <td>105</td>
                    <td>198</td>
                    <td>147</td>
                    <td>101</td>
                    <td>100</td>
                    <td>102</td>
                    <td>147</td>
                    <td>120</td>
                    <td>111</td>
                    <td>172</td>
                    <td>190</td>
                </tr>
                <tr>
                    <td>Workers Gap</td>
                    <td class="price-cell-bg">5</td>
                    <td class="price-cell-bg">10</td>
                    <td class="price-cell-bg">7</td>
                    <td>30</td>
                    <td>21</td>
                    <td>25</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                    <td>40</td>
                    <td>23</td>
                    <td>24</td>
                    <td>12</td>
                    <td>23</td>
                    <td>12</td>
                    <td>7</td>
                    <td>20</td>
                    <td>22</td>
                    <td>14</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>13</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Space Required</td>
                    <td class="price-cell-bg">205</td>
                    <td class="price-cell-bg">210</td>
                    <td class="price-cell-bg">207</td>
                    <td>230</td>
                    <td>221</td>
                    <td>225</td>
                    <td>224</td>
                    <td>244</td>
                    <td>224</td>
                    <td>240</td>
                    <td>213</td>
                    <td>243</td>
                    <td>212</td>
                    <td>213</td>
                    <td>212</td>
                    <td>209</td>
                    <td>207</td>
                    <td>224</td>
                    <td>214</td>
                    <td>244</td>
                    <td>256</td>
                    <td>217</td>
                    <td>213</td>
                    <td>210</td>
                </tr>
                <tr>
                    <td>Space Available</td>
                    <td class="price-cell-bg">215</td>
                    <td class="price-cell-bg">205</td>
                    <td class="price-cell-bg">217</td>
                    <td>240</td>
                    <td>231</td>
                    <td>215</td>
                    <td>274</td>
                    <td>244</td>
                    <td>234</td>
                    <td>260</td>
                    <td>243</td>
                    <td>223</td>
                    <td>202</td>
                    <td>233</td>
                    <td>222</td>
                    <td>219</td>
                    <td>217</td>
                    <td>204</td>
                    <td>234</td>
                    <td>214</td>
                    <td>236</td>
                    <td>207</td>
                    <td>203</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Space Gap</td>
                    <td class="price-cell-bg">8</td>
                    <td class="price-cell-bg">-5</td>
                    <td class="price-cell-bg">7</td>
                    <td>10</td>
                    <td>21</td>
                    <td>15</td>
                    <td>24</td>
                    <td>14</td>
                    <td>-17</td>
                    <td>20</td>
                    <td>23</td>
                    <td>22</td>
                    <td>20</td>
                    <td>-3</td>
                    <td>-2</td>
                    <td>15</td>
                    <td>26</td>
                    <td>13</td>
                    <td>15</td>
                    <td>21</td>
                    <td>20</td>
                    <td>27</td>
                    <td>23</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Truck Loads - Inbound</td>
                    <td class="price-cell-bg">28</td>
                    <td class="price-cell-bg">25</td>
                    <td class="price-cell-bg">27</td>
                    <td>20</td>
                    <td>24</td>
                    <td>25</td>
                    <td>29</td>
                    <td>24</td>
                    <td>27</td>
                    <td>28</td>
                    <td>23</td>
                    <td>25</td>
                    <td>24</td>
                    <td>22</td>
                    <td>27</td>
                    <td>22</td>
                    <td>26</td>
                    <td>23</td>
                    <td>22</td>
                    <td>21</td>
                    <td>21</td>
                    <td>28</td>
                    <td>24</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>Truck Loads - Outbound</td>
                    <td class="price-cell-bg">21</td>
                    <td class="price-cell-bg">22</td>
                    <td class="price-cell-bg">24</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>29</td>
                    <td>27</td>
                    <td>28</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>23</td>
                    <td>21</td>
                    <td>20</td>
                    <td>25</td>
                    <td>24</td>
                    <td>21</td>
                    <td>24</td>
                    <td>26</td>
                    <td>27</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="mb-0 mt-3"><b>Retail</b></p>
    <div class="table-responsive mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Capacity Projections</th>
                    <th scope="col" colspan="12" class="text-center">FY-2022</th>
                    <th scope="col" colspan="12" class="text-center">FY-2023</th>
                </tr>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Jan</th>
                    <th scope="col">Feb</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Apr</th>
                    <th scope="col">May</th>
                    <th scope="col">Jun</th>
                    <th scope="col">Jul</th>
                    <th scope="col">Aug</th>
                    <th scope="col">Sep</th>
                    <th scope="col">Oct</th>
                    <th scope="col">Nov</th>
                    <th scope="col">Dec</th>
                    <th scope="col">Jan</th>
                    <th scope="col">Feb</th>
                    <th scope="col">Mar</th>
                    <th scope="col">Apr</th>
                    <th scope="col">May</th>
                    <th scope="col">Jun</th>
                    <th scope="col">Jul</th>
                    <th scope="col">Aug</th>
                    <th scope="col">Sep</th>
                    <th scope="col">Oct</th>
                    <th scope="col">Nov</th>
                    <th scope="col">Dec</th>
                </tr>
            </thead>
            <tbody>
              
              
                <tr>
                    <td>Demand</td>
                    <td class="price-cell-bg">57552</td>
                    <td class="price-cell-bg">54307</td>
                    <td class="price-cell-bg">60707</td>
                    <td>51336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>51854</td>
                    <td>69754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Work Days</td>
                    <td class="price-cell-bg">24</td>
                    <td class="price-cell-bg">22</td>
                    <td class="price-cell-bg">23</td>
                    <td>24</td>
                    <td>21</td>
                    <td>25</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                    <td>20</td>
                    <td>23</td>
                    <td>24</td>
                    <td>21</td>
                    <td>23</td>
                    <td>25</td>
                    <td>21</td>
                    <td>20</td>
                    <td>22</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>28</td>
                    <td>27</td>
                </tr>
                <tr>
                    <td>Working Hrs/Day</td>
                    <td class="price-cell-bg">23</td>
                    <td class="price-cell-bg">15</td>
                    <td class="price-cell-bg">16</td>
                    <td>20</td>
                    <td>11</td>
                    <td>15</td>
                    <td>24</td>
                    <td>24</td>
                    <td>14</td>
                    <td>19</td>
                    <td>16</td>
                    <td>24</td>
                    <td>21</td>
                    <td>20</td>
                    <td>21</td>
                    <td>16</td>
                    <td>20</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>21</td>
                    <td>22</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Capacity Required</td>
                    <td class="price-cell-bg">58552</td>
                    <td class="price-cell-bg">59307</td>
                    <td class="price-cell-bg">62707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62307</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>57421</td>
                    <td>60485</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Capacity Available</td>
                    <td class="price-cell-bg">58552</td>
                    <td class="price-cell-bg">59307</td>
                    <td class="price-cell-bg">62707</td>
                    <td>61336</td>
                    <td>59457</td>
                    <td>62707</td>
                    <td>61854</td>
                    <td>59754</td>
                    <td>57264</td>
                    <td>62547</td>
                    <td>57214</td>
                    <td>59701</td>
                    <td>60874</td>
                    <td>58421</td>
                    <td>63854</td>
                    <td>61574</td>
                    <td>58641</td>
                    <td>57456</td>
                    <td>61734</td>
                    <td>59865</td>
                    <td>54421</td>
                    <td>60285</td>
                    <td>62345</td>
                    <td>63541</td>
                </tr>
                <tr>
                    <td>Capacity Gap</td>
                    <td class="price-cell-bg">5552</td>
                    <td class="price-cell-bg">5307</td>
                    <td class="price-cell-bg">2707</td>
                    <td>6336</td>
                    <td>5457</td>
                    <td>2307</td>
                    <td>-1854</td>
                    <td>5754</td>
                    <td>7264</td>
                    <td>2547</td>
                    <td>7214</td>
                    <td>5701</td>
                    <td>6074</td>
                    <td>5421</td>
                    <td>-3854</td>
                    <td>1574</td>
                    <td>6641</td>
                    <td>7456</td>
                    <td>1734</td>
                    <td>5865</td>
                    <td>7421</td>
                    <td>6285</td>
                    <td>2345</td>
                    <td>3541</td>
                </tr>
                <tr>
                    <td>Capacity Emulated</td>
                    <td class="price-cell-bg">5552</td>
                    <td class="price-cell-bg">333</td>
                    <td class="price-cell-bg">2707</td>
                    <td>6336</td>
                    <td>5457</td>
                    <td>2307</td>
                    <td>-1854</td>
                    <td>5754</td>
                    <td>7264</td>
                    <td>2547</td>
                    <td>7214</td>
                    <td>5701</td>
                    <td>6074</td>
                    <td>5421</td>
                    <td>-3854</td>
                    <td>1574</td>
                    <td>5641</td>
                    <td>7456</td>
                    <td>1734</td>
                    <td>5865</td>
                    <td>7421</td>
                    <td>6485</td>
                    <td>2345</td>
                    <td>3541</td>
                </tr>
                <tr>
                    <td>Workers Required</td>
                    <td class="price-cell-bg">123</td>
                    <td class="price-cell-bg">115</td>
                    <td class="price-cell-bg">163</td>
                    <td>120</td>
                    <td>191</td>
                    <td>152</td>
                    <td>124</td>
                    <td>241</td>
                    <td>184</td>
                    <td>194</td>
                    <td>164</td>
                    <td>124</td>
                    <td>121</td>
                    <td>120</td>
                    <td>241</td>
                    <td>169</td>
                    <td>120</td>
                    <td>122</td>
                    <td>123</td>
                    <td>474</td>
                    <td>125</td>
                    <td>121</td>
                    <td>222</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Workers Available</td>
                    <td class="price-cell-bg">121</td>
                    <td class="price-cell-bg">105</td>
                    <td class="price-cell-bg">153</td>
                    <td>110</td>
                    <td>181</td>
                    <td>142</td>
                    <td>104</td>
                    <td>201</td>
                    <td>174</td>
                    <td>190</td>
                    <td>144</td>
                    <td>104</td>
                    <td>119</td>
                    <td>105</td>
                    <td>198</td>
                    <td>147</td>
                    <td>101</td>
                    <td>100</td>
                    <td>102</td>
                    <td>147</td>
                    <td>120</td>
                    <td>111</td>
                    <td>172</td>
                    <td>190</td>
                </tr>
                <tr>
                    <td>Workers Gap</td>
                    <td class="price-cell-bg">5</td>
                    <td class="price-cell-bg">10</td>
                    <td class="price-cell-bg">7</td>
                    <td>30</td>
                    <td>21</td>
                    <td>25</td>
                    <td>24</td>
                    <td>24</td>
                    <td>24</td>
                    <td>40</td>
                    <td>23</td>
                    <td>24</td>
                    <td>12</td>
                    <td>23</td>
                    <td>12</td>
                    <td>7</td>
                    <td>20</td>
                    <td>22</td>
                    <td>14</td>
                    <td>27</td>
                    <td>25</td>
                    <td>21</td>
                    <td>13</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Space Required</td>
                    <td class="price-cell-bg">205</td>
                    <td class="price-cell-bg">210</td>
                    <td class="price-cell-bg">207</td>
                    <td>230</td>
                    <td>221</td>
                    <td>225</td>
                    <td>224</td>
                    <td>244</td>
                    <td>224</td>
                    <td>240</td>
                    <td>213</td>
                    <td>243</td>
                    <td>212</td>
                    <td>213</td>
                    <td>212</td>
                    <td>209</td>
                    <td>207</td>
                    <td>224</td>
                    <td>214</td>
                    <td>244</td>
                    <td>256</td>
                    <td>217</td>
                    <td>213</td>
                    <td>210</td>
                </tr>
                <tr>
                    <td>Space Available</td>
                    <td class="price-cell-bg">215</td>
                    <td class="price-cell-bg">205</td>
                    <td class="price-cell-bg">217</td>
                    <td>240</td>
                    <td>231</td>
                    <td>215</td>
                    <td>274</td>
                    <td>244</td>
                    <td>234</td>
                    <td>260</td>
                    <td>243</td>
                    <td>223</td>
                    <td>202</td>
                    <td>233</td>
                    <td>222</td>
                    <td>219</td>
                    <td>217</td>
                    <td>204</td>
                    <td>234</td>
                    <td>214</td>
                    <td>236</td>
                    <td>207</td>
                    <td>203</td>
                    <td>200</td>
                </tr>
                <tr>
                    <td>Space Gap</td>
                    <td class="price-cell-bg">8</td>
                    <td class="price-cell-bg">-5</td>
                    <td class="price-cell-bg">7</td>
                    <td>10</td>
                    <td>21</td>
                    <td>15</td>
                    <td>24</td>
                    <td>14</td>
                    <td>-17</td>
                    <td>20</td>
                    <td>23</td>
                    <td>22</td>
                    <td>20</td>
                    <td>-3</td>
                    <td>-2</td>
                    <td>15</td>
                    <td>26</td>
                    <td>13</td>
                    <td>15</td>
                    <td>21</td>
                    <td>20</td>
                    <td>27</td>
                    <td>23</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Truck Loads - Inbound</td>
                    <td class="price-cell-bg">28</td>
                    <td class="price-cell-bg">25</td>
                    <td class="price-cell-bg">27</td>
                    <td>20</td>
                    <td>24</td>
                    <td>25</td>
                    <td>29</td>
                    <td>24</td>
                    <td>27</td>
                    <td>28</td>
                    <td>23</td>
                    <td>25</td>
                    <td>24</td>
                    <td>22</td>
                    <td>27</td>
                    <td>22</td>
                    <td>26</td>
                    <td>23</td>
                    <td>22</td>
                    <td>21</td>
                    <td>21</td>
                    <td>28</td>
                    <td>24</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>Truck Loads - Outbound</td>
                    <td class="price-cell-bg">21</td>
                    <td class="price-cell-bg">22</td>
                    <td class="price-cell-bg">24</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>26</td>
                    <td>24</td>
                    <td>25</td>
                    <td>29</td>
                    <td>26</td>
                    <td>28</td>
                    <td>26</td>
                    <td>29</td>
                    <td>25</td>
                    <td>24</td>
                    <td>21</td>
                    <td>20</td>
                    <td>24</td>
                    <td>24</td>
                    <td>21</td>
                    <td>24</td>
                    <td>26</td>
                    <td>27</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
