<body class="sb-nav-fixed">

    <!--Layout Sidenav Content-->
    <section id="layoutSidenav_content">
        <!--Main-->
        <main class="content-padding1">
            <!--Container Fluid-->
            <div class="container-fluid">
                <!--Page Content-->
                <div class="page-content">
                    <!--Page Header-->
                    <div class="page-header border-bottom-dark">
                        <!--row-->

                        <h5 class="mb-0">Categories</h5>

                    </div>
                    <!--End Page Header-->

                    <div class="blog-post">
                        <form class="mt-2" name="editForm"
                            enctype="multipart/form-data">
                            <div class="row  loginsrn">

                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->
                                    <div class="form-group mb-2">
                                        <label for="field_name" class="mb-2">Code</label>
                                        <p class="view-data">0012</p>
                                    </div>
                                    <!-- Form Group -->
                                    <!-- Form Group -->
                                    <!-- Form Group -->



                                </div>
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <div class="form-group mb-2">
                                        <label for="field_code" class="mb-2">Name</label>
                                        <p class="view-data">Category-1</p>
                                        
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-sm-12 col-md-2 col-lg-1"></div> -->
                                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                    <!-- Form Group -->

                                    <div class="form-group mb-2">
                                        <label for="field_calculatedOn" class="mb-2">Parent</label>
                                        <p class="view-data">Market-1</p>
                                      
                                    </div>

                                    <!-- Form Group -->
                                </div>

                            </div>

                            <div class="pull-right">
                                <button type="button" id="cancel-save" class="btn btn-outline-dark"
                                    (click)="previousState()">
                                    <span> <i class="fa fa-arrow-left mr-2" aria-hidden="true"></i>Back</span>
                                </button>
                            </div>
                        </form>
                        <div class="clearfix"></div>




                    </div>
                    <!--End Page Content-->

                </div>
                <!-- End DataTales Start -->

            </div>
            <!--End ontainer Fluid-->
        </main>
        <!--End Main-->

    </section>
    <!--End Layout Sidenav Content-->

</body>

